/* COLORS */
html {
    --color-chapter: #263036;
    --color-regular-text: #1E1E1E;
    --color-links: #1C2E8C;
    --color-background: #86A3B4;
    --color-name: white;
    --color-surname: #1C2E8C;

/* MARGINS */
    --margin-regular: 5px 40px 20px 40px;
}

