html {
    --color-chapter: #3a0104;
    --color-regular-text: #1E1E1E;
    --color-links: #1C2E8C;
    --color-background: #aaa452;
    --color-name: rgb(4, 7, 189);
    --color-surname: #000000;
}    