.CV {
   color : #333;
   font-family: Arial, Helvetica, sans-serif;
}

/* .h3 {
    font-weight: bold;
} */

.title {
    font-style: italic;
}

.headers {
    text-transform: uppercase;
    background-color: aquamarine;
    
}

.links {
    color: #00f;
}

.links.visited {
    color: #005;
}

.links:hover {
    text-decoration: none;    
}

.items {
    list-style-type: square;    
}

.background-table {
    background-color: beige;
}

.image-candidate {
    border: 2px solid black;
    padding: 10px;
}

.lower-underline {
    border: 1px solid rgb(0, 136, 91);
    border-style: solid;
    border-width: 0px 0px 2px 0px;  
   
}

.bold-text {
    font-weight: bold;
}

.header-name-photo {
    display: flex;
    justify-content: space-between;
}

.table-position {
    display: flex;      
    /* justify-content: flex-start; */
    
}